/* ContractTable.css */

/* '작성' */
.ag-cell.written {
    background-color: #FFB4B5 ;  
    color: white ;              
    font-weight: bold ;         
    border-radius: 5px ;          
    text-align: center ;        
    width: 10px;
    margin-top: 3px;
    

}

/* '분석' */
.ag-cell.analyzed {
    background-color: #B4C7FF;  
    color: white ;             
    font-weight: bold ;         
    border-radius: 5px ;         
    text-align: center ;     
    margin-top: 3px;
    margin-bottom: 3px;
    height: 100%;
}

.ag-theme-alpine .ag-cell-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}